<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../static/styles/mygpstyle.css">
	<title>나의공동구매</title>
</head>

{%extends "index.html"%}
{%block section%}
<script>
	$(document).ready(function(){
		//alert("{{writer}}");
		$('#idoption:contaions("{{seller}}")').prop("selected",true);
	})
</script>
<script src="../../static/scripts/mygp.js"></script>
<div class="tab-container">
    <div class="tabs on" style="text-align: left;" onclick="openTab('Tab1')">내가 열고 있는 공동구매</div>
    <div class="tabs" style="text-align: right;" onclick="openTab('Tab2')">내가 참여한 공동구매</div>
</div>

<div class="tab_wrap">
  <div id="Tab1" class="tab on">
      <div>
			{% if total_sell>0 %}
			<h1 style="text-align: left;">Total {{total_sell}}</h1>
			<!--내가 열고 있는 공동구매 섹션-->
			<div class="hold__list" name="seller" id="seller" onchange="location=this.value">
				<div value="{{ url_for('view_myGroupBuy_Sell', page=i, seller=session['id']) }}">
				{% for key,value in row1 %}
				<div class="list__openedgp">
					<div style="float:left;">
						<a href="/info_gp/{{key}}/">
							<img src="../static/DBimage/{{value.img_path}}" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
						</a>
					</div>

					<div class="listobj_textarea">
						<div class="listobj_title"><b>상품명 : {{value.name}}</b></div>
						<div class="listobj_seller">주최자 <span class="bar">|</span> {{value.seller}} </div>
						<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;" id="participant-count"> {{value.participant_count}} </span>명의 벗이 함께하는 중
							<button class="btn" id="downloadExcel" onclick="fn_ExcelDown()">상세 다운로드</button>
						</div>
						<div class="listobj_status">공동구매 현황 <span class="bar">|</span> 
							<span class="status_text">{{value.status}} 중</span>
							<span class="dropdown-container">
								<select class="dropdown" onchange="updateStatus(this, '{{ value.name }}')" style="display: none;">
									<option id="모집">모집</option>
									<option id="주문">주문</option>
									<option id="수취">수취</option>
									<option id="배부">배부</option>
									<option id="마감">마감</option>
								</select>
								<button class="btn" id="changestat" onclick="toggleDropdown(this)">공동구매 현황 변경</button>
							</span>
						</div>
						<div class="listobj_data">공동구매 기간 <span class="bar">|</span> {{value.startDate}} ~ {{value.endDate}}</div>
					</div>
				</div>
				{% endfor %}
				<div style="display: block;"></div>
				{% for key,value in row2 %}
				<div class="list__openedgp">
					<div style="float:left; width:210px; height:210px;">
						<a href="/info_gp/{{key}}/">
							<img src="../static/DBimage/{{value.img_path}}" alt="상품 이미지">
						</a>
					</div>

					<div class="listobj_textarea">
						<div class="listobj_title"><b>상품명 : {{value.name}}</b></div>
						<div class="listobj_seller">주최자 <span class="bar">|</span> {{value.seller}} </div>
						<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;"> {{value.participant_count}} </span>명의 벗이 함께하는 중
							<button class="btn" id="downloadExcel" onclick="fn_ExcelDown()">상세 다운로드</button>
						</div>
						<div class="listobj_status">공동구매 현황 <span class="bar">|</span> 
							<span class="status_text">{{value.status}} 중</span>
							<span class="dropdown-container">
								<select class="dropdown" onchange="updateStatus(this, '{{value.name}}')" style="display: none;">
									<option id="모집">모집 중</option>
									<option id="주문">주문 중</option>
									<option id="수취">수취 중</option>
									<option id="배부">배부 중</option>
									<option id="마감">마감</option>
								</select>
								<button class="btn" id="changestat" onclick="toggleDropdown(this)">공동구매 현황 변경</button>
							</span>
						</div>
						<div class="listobj_data">공동구매 기간 <span class="bar">|</span> {{value.startDate}} ~ {{value.endDate}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		   <!--페이지네이션-->
		   <div class="page-wrap">
			<div class="pagenation">
				<ul style="list-style: none;">
					<li>
						{% for i in range(page_count) %}
						<a id="page{{i}}"class="page_btn" href="{{url_for('view_myGroupBuy_Sell',page=i)}}" color="black">{{i+1}}</a>
						{% endfor %}
					</li>
				</ul>
				<script>
					var curr_page = window.location.search.split('=')[1];
					var btn = document.getElementById("page"+curr_page);
					btn.setAttribute("style","color:green; text-decoration-line: underline; text-decoration-thickness: 1px; text-underline-offset: 2px;");
				</script>
			</div>
		   </div>
		   {% else %}
		   <p>
			{{session['id']}}님이 열고 있는 공동구매가 없습니다.
		   </p>
		   {% endif %}
  </div>
  <div id="Tab2" class="tab">
	{% if total_buy>0 %}
		<h1 style="text-align: left;">Total {{total_buy}}</h1>
		<!--내가 열고 있는 공동구매 섹션-->
		<div class="buy__list" name="buyer" id="buyer" onchange="location=this.value">
			<div value="{{ url_for('view_myGroupBuy_Buy', page=i, buyer=session['id']) }}">
			{% for key,value in row1 %}
			<div class="list__openedgp">
				<div style="float:left;">
					<a href="/info_gp/{{key}}/">
						<img src="../static/DBimage/{{value.img_path}}" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
					</a>
				</div>

				<div class="listobj_textarea">
					<div class="listobj_title"><b>상품명 : {{value.name}}</b></div>
					<div class="listobj_seller">주최자 <span class="bar">|</span> {{value.seller}} 
						<button class="btn" id="mailto" onclick="fn_mailto">
							<a class="p2pmail" href="mailto:1234@ewha.ac.kr">1:1문의</a>
						</button>
					</div>
					<div class="listobj_option">선택 옵션 <span class="bar">|</span> 
						<span class="option-text">옵션1</span>
						<span class="dropdown-container">
							<select class="dropdown" onchange="updateOption(this)" style="display: none;">
								{% for option in value.options %}
									<option value="{{option}}">{{option}}</option>
								{% endfor %}
							</select>
							<button class="btn" id="changestat" onclick="toggleDropdown(this)">옵션 변경</button>
						</span>
					</div>
					<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;" id="participant-count"> {{value.participant_count}} </span>명의 벗이 함께하는 중
						<button class="btn" id="downloadExcel" onclick="fn_ExcelDown()">상세 다운로드</button>
					</div>
					<div class="listobj_status">공동구매 현황 <span class="bar">|</span>
						<span class="status_text">{{value.status}} 중</span>
					</div>
					
					<div class="progressbar_container">
						<div class="listobj_pbar"></div>
						<div class="progress_steps">
							<span>모집</span>
							<span>주문</span>
							<span>수취</span>
							<span>배부</span>
							<span>마감</span>
						</div>
					</div>
					<div class="listobj_data">공동구매 기간 <span class="bar">|</span> {{value.startDate}} ~ {{value.endDate}}</div>
				</div>
			</div>
			{% endfor %}
			<div style="display: block;"></div>
			{% for key,value in row2 %}
			<div class="list__openedgp">
				<div style="float:left;">
					<a href="/info_gp/{{key}}/">
						<img src="../static/DBimage/{{value.img_path}}" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
					</a>
				</div>

				<div class="listobj_textarea">
					<div class="listobj_title"><b>상품명 : {{value.name}}</b></div>
					<div class="listobj_seller">주최자 <span class="bar">|</span> {{value.seller}} 
						<button class="btn" id="mailto" onclick="fn_mailto">
							<a class="p2pmail" href="mailto:1234@ewha.ac.kr">1:1문의</a>
						</button>
					</div>
					<div class="listobj_option">선택 옵션 <span class="bar">|</span> 
						<span class="option-text">옵션1</span>
						<span class="dropdown-container">
							<select class="dropdown" onchange="updateOption(this)" style="display: none;">
								{% for option in value.options %}
									<option value="{{option}}">{{option}}</option>
								{% endfor %}
							</select>
							<button class="btn" id="changestat" onclick="toggleDropdown(this)">옵션 변경</button>
						</span>
					</div>
					<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;" id="participant-count"> {{value.participant_count}} </span>명의 벗이 함께하는 중
						<button class="btn" id="downloadExcel" onclick="fn_ExcelDown()">상세 다운로드</button>
					</div>
					<div class="listobj_status">공동구매 현황 <span class="bar">|</span>
						<span class="status_text">{{value.status}} 중</span>
					</div>
					
					<div class="progressbar_container">
						<div class="listobj_pbar"></div>
						<div class="progress_steps">
							<span>모집</span>
							<span>주문</span>
							<span>수취</span>
							<span>배부</span>
							<span>마감</span>
						</div>
					</div>
					<div class="listobj_data">공동구매 기간 <span class="bar">|</span> {{value.startDate}} ~ {{value.endDate}}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<!--페이지네이션-->
		<div class="page-wrap">
			<div class="pagenation">
				<ul style="list-style: none;">
					<li>
						{% for i in range(page_count) %}
						<a id="page{{i}}"class="page_btn" href="{{url_for('view_myGroupBuy',page=i)}}" color="black">{{i+1}}</a>
						{% endfor %}
					</li>
				</ul>
				<script>
					var curr_page = window.location.search.split('=')[1];
					var btn = document.getElementById("page"+curr_page);
					btn.setAttribute("style","color:green; text-decoration-line: underline; text-decoration-thickness: 1px; text-underline-offset: 2px;");
				</script>
			</div>
		</div>
	{% else %}
	<p>
		{{session['id']}}님이 참여하고 있는 공동구매가 없습니다.
	</p>
	{% endif %}
</div>
{%endblock section%}