<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/mypage.css') }}">
<!--     <link rel="stylesheet" href="mypage.css"> -->
</head>

<body>
  {%extends "index.html"%}
  {%block section%}

    <!-- 마이페이지 -->
    <section class="mypage-content">
        <div class="profile-section">
            <img src="{{profile_img}}" alt="프로필 사진" class="profile-img">
            <div class="profile-info">
                <h2>닉네임 <span class="nickname-tag">#{{nickname}}</span></h2>
                <button class="edit-profile-button" id="editProfile" onclick="navigateToPage(this.id)">프로필 수정</button>
            </div>
        </div>

        <div class="stats-section">
            <div class="flower-score-block">
                <div class="flower-score">
                    <span>배꽃지수</span>
                    {% for i in range(1, 6) %}
                        {% if i <= flower_index < i+1 %}
                        <!-- 흰색 꽃 아이콘: i개 -->
                            {% for j in range(i) %}
                                <img src="/static/image/emptyStar.svg" alt="흰색 꽃 아이콘" class="white-flower-icons">
                            {% endfor %}
                            <!-- 초록색 꽃 아이콘: 5-i개 -->
                            {% for j in range(5-i) %}
                                <img src="/static/image/filledStar.svg" alt="초록색 꽃 아이콘" class="green-flower-icons">
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <span class="score">{{flower_index}}</span>
                </div>
                
            </div>

            <div class="buttons">

                <button class="mySale-button" id="mySale" onclick="navigateToPage(this.id)">판매글 <span class="mySale-count">8</span>개</button>
                <button class="myBookmark-button" id="myBookmark" onclick="navigateToPage(this.id)">관심글</button>
                <button class="myReview-button" id="myReview" onclick="navigateToPage(this.id)">작성한 리뷰</button>
                <button class="myGroupBuy-button" id="myGroupBuy" onclick="navigateToPage(this.id)">공동구매</button>

            </div>
        </div>

        <script>
            function navigateToPage(buttonId) {
                let url;
                switch (buttonId) {
                    case 'mySale':
                        url = '/mySale';
                        break;
                    case 'myBookmark':
                        url = '/myBookmark';
                        break;
                    case 'myReview':
                        url = '/myReview';
                        break;
                    case 'myGroupBuy':
                        url = '/mygroup_purchase';
                        break;
                    case 'editProfile':
                        url = '/editProfile'
                        break;
                    default:
                        url = '#';
                }
                window.location.href = url;
            }
        </script>
    </section>
    
    {% endblock section %}

</body>

</html>