<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/reg.css">
</head>

<body>
    {%extends "index.html"%}
    {%block section%}

    <div id="writeContainer">
        <h1>동문브랜드 등록하기</h1>

        <form action="/submit_item_post" enctype="multipart/form-data" method="post">
            <div>
                <h2>기본 정보</h2>
                <div id="basicInfoContainer">
                    <label for="seller">대표명</label>
                    <input type="text" name="seller" id="seller" placeholder="입력" required>

                    <label for="name">브랜드 이름</label>
                    <input type="text" name="name" id="name" placeholder="입력" required>

                    <!-- SNS 추가 :: 인스타, 트위터, 링크(스토어)-->

                    <label for="socials">SNS 주소</label>
                    <div id="snsContainer">
                        <div>
                            <button onclick="addInstagram(event)">
                                <img class="socialLogo" src="../static/image/LogoInstagram.png" title="인스타그램 주소 추가" />
                            </button>
                            <button onclick="addX(event)">
                                <img class="socialLogo" src="../static/image/LogoXTwitter.png" title="X(트위터) 주소 추가" />
                            </button>
                            <button onclick="addLink('기타링크', 'link')">
                                <img class="socialLogo" src="../static/image/LogoLink.png" title="기타 링크 주소 추가" />
                            </button>
                        </div>
                        <div id="snsInputs">

                        </div>
                        <script>
                            function addLink(snsType, id) {
                                const inputContainer = document.getElementById('snsInputs');
                                const label = document.createElement('label');
                                const input = document.createElement('input');
                                input.type = "url";
                                input.name = "socials";
                                input.placeholder = "https://example.com";
                                input.required = true;
                                const button = document.createElement('button');
                                button.innerHTML = "x";
                                const span = document.createElement('span');
                                span.innerHTML = snsType;

                                label.appendChild(span);
                                label.appendChild(input);
                                label.appendChild(button);
                                inputContainer.appendChild(label);
                            }

                            function addInstagram(e) {
                                addLink("인스타그램", "instagram");
                                e.currentTarget.disabled = true;
                            }

                            function addX(e) {
                                addLink("X(트위터)", "xtwitter");
                                e.currentTarget.disabled = true;
                            }
                        </script>

                    </div>
                </div>
            </div>

            <div>
                <h2>브랜드 사진</h2>
                <input type="file" name="file" id="imageUpload" multiple required>
                <div id="previewContainer"></div>
            </div>

            <div>
                <h2>브랜드 설명</h2>
                <textarea id="write-description" name="userComments" placeholder="상품에 대한 자세한 설명을 입력하세요."
                    required></textarea>
            </div>

            <input class="submit-btn" type="submit" value="등록하기">
        </form>
    </div>

    <script src="../../static/scripts/reg.js"></script>
    {%endblock section%}
</body>

</html>