
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동문 브랜드</title>
    <link rel="stylesheet" href="../../static/styles/brand_styles.css">
</head>
{% extends "index.html" %}

{% block section %}
<body>
    <div class="container">
        <section class="brand-header">
            <h1>동문 브랜드</h1>
            <hr style="margin: 30px auto; width: 90%;">
            <div style="height:50px;"></div>
        </section>

        <div class="content">
            <!-- Left side: Main image and thumbnails -->
            <div class="image-section">
                <div class="main-image">
                    <img id="largeImage" src="{{ url_for('static', filename=data.img_path[0][7:]) }}" alt="대표 사진" class="large-image">
                </div>
                <div class="thumbnails">
                        <img src="{{ url_for('static', filename=data.img_path[0][7:]) }}" alt="Thumbnail 1" class="thumbnail" onclick="changeImage('{{ url_for('static', filename=data.img_path[0][7:]) }}')">
                        {% if data.img_path|length > 1 %}
                            <img src="{{ url_for('static', filename=data.img_path[1][7:]) }}" alt="Thumbnail 2" class="thumbnail" onclick="changeImage('{{ url_for('static', filename=data.img_path[1][7:]) }}')">
                        {% endif %}
                </div>
            </div>

            <!-- Right side: Brand info -->
            <div class="brand-info-section">
                <section class="brand-info">
                    <h2>{{data.name}}</h2>
                    <p class="representative">{{data.seller}} 대표 ({{data.major}} {{data.graduNum}}졸)</p>
                    <!--SNS 추가 코드-->
                    <p class="instagram">@abc123</p>
                </section>

                <div class="discount-banner">
                    <p>제휴혜택 :: {{data.benefits}}</p>
                </div>

                <section class="brand-description">
                    <h3>브랜드 설명</h3>
                    <p>{{data.userComments}}</p>
                </section>
            </div>
        </div>
    </div>

    <script>
        function changeImage(imagePath) {
                    const largeImage = document.getElementById("largeImage");
                    largeImage.src = imagePath;
        }
    </script>
</body>
</html>
{% endblock section %}