<!DOCTYPE html>
<html lang="ko">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/specificReview.css') }}">
        <script src="../static/specificReview"></script>
        <title>리뷰내용 상세 조회</title>
        <!--리뷰 전체조회화면에서 item요소를 클릭했을 시 리뷰 내용을 상세하게 보여주는
        화면입니다.-->
    </head>
    <body>
        {% extends "index.html" %}
        {% block section %}
        <!--페이지 상단 중앙 제목-->
        <p class="pageTitle">리뷰</p>

        
        <!--다시 리뷰 전체조회 화면으로 돌아가는 버튼-->
        <button class="back" onclick="window.location.href='/review'">> 뒤로 가기</button>
       

            <!--리뷰 제목-->
            <p class="title">제목 | {{data.title}}</p>
            <section class="reviewSection">
                <!-- 리뷰 작성자 및 별점 -->
                <div class="card1">
                    <div class="productContainer">
                        <p class="product">제품명 |</p>
                        <p class="product_">{{data.name}}</p>
                    </div>
                    <div class="writerContainer">
                        <p class="writer">작성자 |</p>
                        <p class="writer_">{{data.writer}}</p>
                    </div>
                    <div class="rateContainer">
                        <p class="rate">별점 |</p>
                        <div class="star">
                            {{data.rate}}
                        </div>
                    </div>
                        <div class="review">{{data.review}}</div>
                </div>
                <!-- 리뷰 이미지 및 내용 -->
                <div class="card2">
                    <div class="item">
                        <img src="../../static/DBimage/{{data.img_path}}" alt="리뷰첨부사진" class="mainImg">
                    </div>
            </section>
    {% endblock section %}
    </body>
   
</html>