:root {
    --text-color: #797979;
}

#write-description {
    width: 490px;
    height: 200px;
}

#boothComments {
    width: 490px;
    height: 100px;
}

.submit-btn {
    background-color: #114B19;
    color: white;
    border-radius: 12px;
    border: none;
    width: 500px;
    height: 50px;
    outline: none;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#previewContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#writeContainer {
    margin: 0 30vw 0 30vw;
    white-space: nowrap;
}

#basicInfoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
}

#checkboxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#productStateContainer label {
    margin-right: 20px;
}

input[type="text"],
input[type="number"] {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #e2c64a;
}

form>div {
    margin-top: 4rem;
}

h1 {
    text-align: center;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

label {
    color: var(--text-color);
}