*{
    background-color:white;
}
p{
    text-align:center;
    position:center;
    color:grey;
    font-size: 30px;
    font-weight:500;
    align-items:center;
}
.container{
    align-items: center;
    margin-left:90px;
    display:grid;
    grid-template-rows:300px 300px;
    grid-template-columns:400px 400px 400px;
}

div.item{
    flex-direction: row;
    background-color:#F1F5F2;
    border-radius: 10%;
    width:300px;
    height:250px;
    align-items: center;
}
div.item:hover{
    background-color:gray;
}

div.page{
    position:absolute;
    padding-left:630px;
}

a{
    text-align: center;
    font-weight:bold;
    color:black;
    font-family:sans-serif;
    padding:20px;
    
}

a:hover{
    color:grey;
}

.writer, .title{
    float: left;
    background:none;
    border:none;
    margin: 10px;
    font-size:18px;
    position:relative;
    left:20px;
    top:180px;
}
.writer{
    font-weight:bolder;
}

.writer:hover, .title:hover{
    color:#F1F5F2;
}
