<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editProfile.css') }}">
</head>

<body>
  {%extends "index.html"%}
  {%block section%}

    <!-- 마이페이지 -->
    <section class="mypage-content">
        <div class="profile-img-section">
            <img src="/static/image/profile.png" alt="프로필 사진" class="profile-img">
            <div class="profile-img-input">
                <h3>프로필 사진 변경</h3>
                <input type="file" name="file" id="imageUpload">
            </div>
        </div>
        <hr style="width:65%; height:1px; border-width:0px; background-color:#D9D9D9;">
        <div class="info-edit-section">
            <h2>닉네임: # <input type="text" class="username-input" placeholder="아이스티노중독자"></input></h2>
            <h4>기존 비밀번호:  <input type="password" class="info-input"></input></h4>
            <h4>새 비밀번호:  <input type="password" class="info-input"></input></h4>
            <h4>새 비밀번호 확인:  <input type="password" class="info-input"></input></h4>
            <h4>휴대폰 번호:  <input type="tel" class="info-input" placeholder="010-0000-0000" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"></input></h4>
        </div>
        <section class="edit-button">프로필 수정</section>
    </section>
    
    {% endblock section %}

</body>

</html>
