<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butteo:Flea Market</title>
    <link rel="stylesheet" href="../static/itemList.css">
</head>

{%extends "index.html"%}
{%block section%}
<div class="content__header">
    <a class="register__btn" href="/reg_items">상품 등록하기</a>
    <h1>중고거래</h1>
</div>
<div class="filter__area" style="margin-bottom:20px;">
    <ul>
        <li>총 <span id="number_itms">00</span> 개 상품
        <li>필터 <span id="filter_str"> > 필터이름</span>
            <!---필터 드롭다운 메뉴 추가--->
            <script src="scriptname.js"></script>
    </ul>
</div>
<div class="item__list">
    <script>
        var k = 20;
        for (var i = 0; i < k; i++) {
            document.write(`
            <div class=\"list__obj\">
                <a href="/info_item">
                <img src="/static/image/item_img.png" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
                </a>
                <div class="listobj_textarea">
                    <div class="listobj_place">직거래장소</div>
                    <div class="listobj_title">상품제목</div>
                    <div class="listobj_price">가격</div>
                    <div class="listobj_seller">판매자</div>
                </div>
            </div>
            `);
        }
    </script>
</div>
<div class="pagenation">
    <script>
        var curr_page = 1;
        document.write("<button>\<</button>");
        for (var j = 1; j <= 5; j++) {
            document.write("<button id=\"page"+j+"\" onClick=function() {this.setAttribute(\"style\",\"text-decoration-line: underline; text-decoration-thickness: 1px; text-underline-offset: 2px;\")}> " + j + " </a>");
            if(curr_page == j){
                document.getElementById("page"+j).setAttribute("style","text-decoration-line: underline; text-decoration-thickness: 1px; text-underline-offset: 2px;");
            }
        }
        document.write("<button>\></button>");
    </script>
</div>
{% endblock section %}