<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/index.css') }}">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__topbox">
            <div class="navbar__top">
                <a class="logo" href="/season">벗터</a>
                
                <!-- session id 있으면 account_in, 없으면 account_out -->
                {% if session['id'] %}
                <ul id="account_in">
                    <li><b>{{session['id']}}님 반갑습니다!</b></li>
                    <li><a class="account_btn" href="/logout">로그아웃</a></li>
                    <li><a href='/mypage'>마이페이지</a></li>
                    <li><img src="/static/image/user_img.png" width="48px;" height="48px" style="background-color: white;"></li>
                </ul>
                {% else %}
                <ul id="account_out">
                    <li><a class="account_btn" id="login_btn" href="/login">로그인</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </ul>
                {% endif %}

            </div>
        </div>
        <div class="navbar__under">
            <ul class="category">
                <li><a href="/season">시즌/대동제</a></li>
                <li><a href="/fleamarket">중고거래</a></li>
                <li><a href="/gonggu">공동구매</a></li>
                <li><a href="/graduatebrands">동문브랜드</a></li>
                <li><a href="/review">리뷰조회</a></li>
            </ul>
        </div>
    </nav>
    <section class="content__section">
        <div class="content__area">
            {%block section%}
            {%endblock section%}
        </div>
    </section>
</body>
<footer>
    <div class="footerbar">
        <ul class="footer__btns">
            <li><a href="">회사소개</a></li>
            <li><a>|</a></li>
            <li><a href="">이용약관</a></li>
            <li><a>|</a></li>
            <li><a href="">개인정보처리방침</a></li>
            <li><a>|</a></li>
            <li><a href="">고객센터</a></li>
            <li><a>|</a></li>
            <li><a href="">입점/제휴문의</a></li>
            <li><a>|</a></li>
            <li><a href="">이화인인증</a></li>
        </ul>
    </div>
</footer>
<script src="../static/scripts/navbar.js"></script>
</html>
