<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../static/mygpstyle.css">
	<title>나의공동구매</title>
</head>

{%extends "index.html"%}
{%block section%}
<script src="../static/mygp.js"></script>
<div class="tab-container">
    <div class="tabs on" style="text-align: left;" onclick="openTab('Tab1')">내가 열고 있는 공동구매</div>
    <div class="tabs" style="text-align: right;" onclick="openTab('Tab2')">내가 참여한 공동구매</div>
</div>

<div class="tab_wrap">
  <div id="Tab1" class="tab on">
      <div>
			<script>
				var k = 10;
				for (var i = 0; i < k; i++) {
					document.write(`
						<div class="list__openedgp">
							<div style="float:left; width:210px; height:210px;">
								<a href="/info_item">
									<img src="/static/image/item_img.png" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
								</a>
							</div>
							<div class="listobj_textarea">
								<div class="listobj_title"><b>상품명 : 교표 후리스</b></div>
								<div class="listobj_seller">주최자 <span class="bar">|</span> sellerID</div>
								<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;">##</span>명의 벗이 함께하는 중
									<button class="btn" id="downloadExcel" onclick="fn_ExcelDown()">상세 다운로드</button>
								</div>
								<div class="listobj_status">공동구매 현황 <span class="bar">|</span> 
									<span class="status_text">모집 중</span>
									<span class="dropdown-container">
										<select class="dropdown" onchange="updateStatus(this)" style="display: none;">
											<option id="모집 중" value="20">모집 중</option>
											<option id="주문 중" value="40">주문 중</option>
											<option id="수취 중" value="60">수취 중</option>
											<option id="배부 중" value="80">배부 중</option>
											<option id="마감" value="100">마감</option>
										</select>
										<button class="btn" id="changestat" onclick="toggleDropdown(this)">공동구매 현황 변경</button>
									</span>
								</div>
								<div class="listobj_data">공동구매 기간 <span class="bar">|</span> YYYY/MM/DD ~ YYYY/MM/DD</div>
							</div>
						</div><br><br>
					`);
				}
			</script>
		</div>
  </div>
  <div id="Tab2" class="tab">
      <div>
			<script>
				var k = 10;
				for (var i = 0; i < k; i++) {
					document.write(`
						<div class="list__partedgp">
							<div style="float:left; width:210px; height:210px;">
								<a href="/info_item">
										<img src="/static/image/item_img.png" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
								</a>
							</div>
							<div class="listobj_textarea">
									<div class="listobj_title"><b>상품명 : 교표 후리스</b></div>
									<div class="listobj_seller">주최자 <span class="bar">|</span> sellerID 
										<button class="btn" id="mailto" onclick="fn_mailto">
											<a class="p2pmail" href="mailto:userid@ewha.ac.kr">1:1문의</a>
										</button>
									</div>
									<div class="listobj_option">선택 옵션 <span class="bar">|</span> 
										<span class="option-text">옵션1</span>
										<span class="dropdown-container">
											<select class="dropdown" onchange="updateOption(this)" style="display: none;">
												<option value="옵션1">옵션1</option>
												<option value="옵션2">옵션2</option>
												<option value="옵션3">옵션3</option>
												<option value="옵션4">옵션4</option>
												<option value="옵션5">옵션5</option>
											</select>
											<button class="btn" id="changestat" onclick="toggleDropdown(this)">옵션 변경</button>
										</span>
									</div>
									<div class="listobj_part">공동구매 참여자 <span class="bar">|</span> <span style="color:#008813;">##</span>명의 벗이 함께하는 중</div>
									<div class="listobj_status">공동구매 현황 <span class="bar">|</span>
										<span class="status_text">모집 중</span>
									</div>
							</div><br><br>
							<div class="progressbar_container">
								<div class="listobj_pbar"></div>
								<div class="progress_steps">
									<span>모집</span>
									<span>주문</span>
									<span>수취</span>
									<span>배부</span>
									<span>마감</span>
								</div>
							</div>
						</div><br><br>`
					);
				}
			</script>
		</div>
  </div>
</div>
<script>
	function toggleDropdown(button) {
		const container = button.previousElementSibling; 
		container.style.display = container.style.display === 'none' || container.style.display === '' ? 'inline-block' : 'none';
	}

	function updateStatus(selectElement) {
		const selectedStatus = selectElement.value;
		const selectedOption = selectElement.options[selectElement.selectedIndex];
		const selectedStatusId = selectedOption.id;
		const allStatusTexts = document.querySelectorAll(".status_text");
	allStatusTexts.forEach((statusText) => {
			statusText.textContent = `${selectedStatusId}`;
	});
		
		
	//프로그레스 바의 현황에 따른 변화를 보여주기 위한 부분으로, 차후에는 DB로부터 값을 불러와 width가 변화하도록 할 예정
		const progressBar = document.querySelector(".listobj_pbar");
		progressBar.style.width = selectedStatus+"%";

	selectElement.style.display = 'none';
		// DB 작업 추가
	}
	
	function updateOption(selectElement) {
		const selectedStatus = selectElement.value;
		const statusText = selectElement.parentElement.previousElementSibling;
		statusText.textContent = `${selectedStatus}`;
		selectElement.style.display = 'none';
		// DB 작업 추가
	}
	
	function fn_ExcelDown(){
	//DB작업 이후 경로 업데이트
		var comSubmit = new ComSubmit();
		comSubmit.setUrl();
		comSubmit.submit();
	}
</script>
{%endblock section%}