<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
<!--     <link rel="stylesheet" href="mypage.css"> -->
</head>

<body>
  {%extends "index.html"%}
  {%block section%}

    <!-- 마이페이지 -->
    <section class="mypage-content">
        <div class="profile-section">
            <img src="/static/image/profile.png" alt="프로필 사진" class="profile-img">
            <div class="profile-info">
                <h2>닉네임 <span class="nickname-tag">#아이스티노중독자</span></h2>
                <button class="edit-profile-button">프로필 수정</button>
            </div>
        </div>

        <div class="stats-section">
            <div class="flower-score-block">
                <div class="flower-score">
                    <span>배꽃지수</span>
                    <div class="flower-icons">
                        <img src="/static/image/emptyStar.svg" alt="흰색 꽃 아이콘">
                        <img src="/static/image/emptyStar.svg" alt="흰색 꽃 아이콘">
                        <img src="/static/image/emptyStar.svg" alt="흰색 꽃 아이콘">
                        <img src="/static/image/emptyStar.svg" alt="흰색 꽃 아이콘">
                        <img src="/static/image/filledStar.svg" alt="초록색 꽃 아이콘">
                    </div>
                </div>
                <span class="score">4.2</span>
            </div>

            <div class="buttons">
                <button class="sale-button">판매글 <span class="sale-count">8</span>개</button>
                <button class="post-button">관심글</button>
                <button class="scrap-button">작성한 리뷰</button>
                <button class="manner-button">공동구매</button>
            </div>
        </div>
    </section>
    {% endblock section %}

</body>

</html>
