<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매글</title>
    <link rel="stylesheet" href="../static/itemList.css">
</head>
{%extends "index.html"%}
{%block section%}
<div class="content__header">
    <h1 id="tmp">내 판매글</h1>
</div>
<div class="filter__area" style="margin-bottom:20px;">
    <ul>
        <li>총 <span id="number_itms">8</span> 개 상품
            <!---필터 드롭다운 메뉴 추가--->
    </ul>
</div>
<div class="item__list">
    <script>
        var k = 8;
        for (var i = 0; i < k; i++) {
            document.write(`
            <div class=\"list__obj\">
                <a href="/info_item">
                <img src="/static/image/item_img.png" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
                </a>
                <div class="listobj_textarea">
                    <div class="listobj_title">상품제목</div>
                    <div class="listobj_price">가격</div>
                </div>
            </div>
            `);
        }
    </script>
</div>
<div class="pagenation">
    <script>
        var curr_page = 1;
        document.write("<span class=\"prev_btn\" id=\"prev_btn\">\<</span>");
        for (var j = 1; j <= 5; j++) {
            document.write("<span class=\"page_btn\" id=\"page" + j + "\">" + j + "</span>");
        }
        document.write("<span class=\"next_btn\" id=\"next_btn\">\></span>");
    </script>
</div>
<script src="../static/pagenation.js"></script>
{% endblock section %}

</html>