<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reg.css">
    <link rel="stylesheet" href="../static/regImage.css">
</head>

<body>
    {%extends "index.html"%}
    {%block section%}

    <div id="writeContainer">
        <h1>부스 등록하기</h1>

        <form action="/submit_season_post" enctype="multipart/form-data" method="post">
            <div>
                <h2>기본 정보</h2>
                <div id="basicInfoContainer">
                    <label for="seller">동아리/팀명</label>
                    <input type="text" name="seller" id="seller" placeholder="입력" required>

                    <label for="name">부스 이름</label>
                    <input type="text" name="name" id="name" placeholder="입력" required>

                    <label for="boothLocation">부스 위치</label>
                    <div id="dropdownContainer">
                        <select id="boothLocation" name="boothLocation" class="regSelect">
                            <option value="frontEntrance">정문</option>
                            <option value="studentCC">학문관</option>
                            <option value="shkwan">생활관</option>
                            <option value="posko">포스코관</option>
                            <option value="huyut">후윳길</option>
                            <option value="edu">교육관</option>
                        </select>
                        <label for="boothNum" id="boothNumLabel">부스 번호</label>
                        <input type="number" name="boothNum" id="boothNum" placeholder="입력" required>
                    </div>

                    <label for="openTime">오픈 시간</label>
                    <div id="dropdownContainer">
                        <select id="openTime" name="openTime" class="regSelect">
                            <option value="1">8:00</option>
                        </select>
                    </div>

                    <label for="closingTime">종료 시간</label>
                    <div id="dropdownContainer">
                        <select id="closingTime" name="closingTime" class="regSelect">
                            <option value="1">12:00</option>
                        </select>
                    </div>
                    <script>
                        const openSelect = document.getElementById("openTime");
                        const closingSelect = document.getElementById("closingTime");

                        //9 to 6
                        function generateThirtyGapTime(e, start, end) {
                            for (let i = start; i < end; i++) {
                                const option00 = document.createElement("option");
                                const option30 = document.createElement("option");

                                const content00 = i + ":00";
                                const content30 = i + ":30";
                                option00.value = content00;
                                option30.value = content30;
                                option00.innerHTML = content00;
                                option30.innerHTML = content30;

                                e.appendChild(option00);
                                e.appendChild(option30);
                            }

                            const option00 = document.createElement("option");
                            const content00 = end + ":00";
                            option00.value = content00;
                            option00.innerHTML = content00;
                            e.appendChild(option00);
                        }

                        generateThirtyGapTime(openSelect, 8, 16);
                        generateThirtyGapTime(closingSelect, 12, 18);
                    </script>
                </div>
            </div>

            <div>
                <h2>부스 대표 사진</h2>
                <div class="image-upload-container static">
                    <label class="add-image-label" style="display: flex;">
                        <span class="add-button">+</span>
                        <input type="file" name="boothMainImg" class="image-file-input" accept="image/*"
                            onchange="imgPreviewHandler(event)">
                    </label>
                    <div class="preview-container" style="display: none;">
                        <img class="image-preview" alt="Preview" src="">
                        <div class="remove-button" onclick="removeImg(event)">X</div>
                    </div>
                </div>
            </div>

            <div>
                <h2>부스 소개</h2>
                <textarea id="boothComments" class="descTextarea" name="boothComments"
                    placeholder="부스에 대한 소개 문구를 입력해주세요." required></textarea>
            </div>

            <div>
                <h2>상품 등록</h2>
                <label for="productNum">상품 개수</label>
                <input type="number" name="productNum" id="productNum" placeholder="입력" required
                    oninput="handleInput(event)">

                <div id="image-upload-wrapper">
                </div>
            </div>


            <input class="submit-btn" type="submit" value="등록하기">
        </form>
    </div>

    <script src="../static/regImage.js"></script>
    {%endblock section%}
</body>

</html>