<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reg.css">
</head>

<body>
    {%extends "index.html"%}
    {%block section%}

    <div id="writeContainer">
        <h1>동문브랜드 등록하기</h1>

        <form action="/submit_item_post" enctype="multipart/form-data" method="post">
            <div>
                <h2>기본 정보</h2>
                <div id="basicInfoContainer">
                    <label for="seller">대표명</label>
                    <input type="text" name="seller" id="seller" placeholder="입력" required>

                    <label for="name">브랜드 이름</label>
                    <input type="text" name="name" id="name" placeholder="입력" required>

                    <!-- SNS 추가 :: 인스타, 트위터, 링크(스토어)-->

                    <label for="productStateInput">상품 상태</label>
                    <div id="productStateContainer">
                        <label>
                            <input type="radio" name="choice" value="optionBrandNew">
                            새상품
                        </label>

                        <label>
                            <input type="radio" name="choice" value="optionLikeNew">
                            거의 새 것
                        </label>

                        <label>
                            <input type="radio" name="choice" value="optionUsed" required>
                            중고
                        </label>
                    </div>
                </div>
            </div>

            <div>
                <h2>상품 사진</h2>
                <input type="file" name="file" id="imageUpload" multiple required>
                <div id="previewContainer"></div>
            </div>

            <div>
                <h2>브랜드 설명</h2>
                <textarea id="write-description" name="userComments" placeholder="상품에 대한 자세한 설명을 입력하세요."
                    required></textarea>
            </div>

            <input class="submit-btn" type="submit" value="등록하기">
        </form>
    </div>

    <script src="../static/reg.js"></script>
    {%endblock section%}
</body>

</html>