
{%extends "index.html"%}
{%block section%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/review.css">
    <script src="../static/review.js"></script>
    <title>리뷰 전체조회-동문브랜드</title>
</head>
<body>
    <p>리뷰</p>
    <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
</body>
{%endblock section%}