<!DOCTYPE html>
{% extends "index.html"%}

{% block section %}
    전체 리뷰조회 화면입니다.
{% endblock section%}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./review.css">
        <title>리뷰 전체조회-동문브랜드</title>
    </head>
    <body>
        <p>리뷰</p>
        <div class="container">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <script src="templates\review.js"></script>
    </body>
</html>
