<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/review.css">
        <script src="../static/review.js"></script>
        <title>리뷰 전체조회</title>
    </head>
    <body>
        {% extends "index.html" %}
        {% block section %}
        <!--페이지 상단 중앙 제목-->
        <p>리뷰</p>
        <!--리뷰 섹션-->
        <div class="container">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <!--프로필 사진과 닉네임, 리뷰갯수-->
        <img class="image" src="..\static\image\brand_img.png">
        <p id="user">이화연</p>
        <p id="number">리뷰 nn개 </p>

    </body>
    {% endblock section %}
</html>