/* 세부 페이지 제목 */
.content__header{
    width: 100%;
    margin:100px auto;
    vertical-align: middle;
}
    
.content__header h1{
    width: fit-content;
    margin: 0px auto;
}

/* 상품 등록 버튼 */
.register__btn{
    float: right;
    width: fit-content;
    border-radius: 10px;
    padding: 14px 16px;
    background-color: #114B19;
    color: white;
    text-decoration: none;
}

.register__btn:hover{
    background-color: #B7D4B8;
}

/* 필터 영역 */
.filter__area{
    display: block;
    overflow: hidden;
}

.filter__area ul{
    padding: 0px 10px;
    list-style-type: none;
    font-size:14pt;
    color: #767676;
}

.filter__area ul li{
    float: left;
    margin-right: 30px;
}

#number_itms{
    color:#114B19;
    text-decoration: underline;
}

/* 상품 목록 박스 */
.item__list{
    display: block;
    width: max-content;
    margin: 0px auto;
    overflow: hidden;;
}

/* 상품 객체 */
.list__obj{
    float:left;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    width:230px;
    overflow: hidden;
}
.list__obj img{
    width:210px;
    height: 210px;
    border-radius: 20px;
}
.list__obj:hover{
    background-color:#D9D9D9;
}
.list__obj a{
    text-decoration: none;
}
.listobj_textarea{
    padding:0px 15px;
}
.listobj_title{
    display: block;
    color: #191919;
    width:70%;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listobj_price{
    color:#191919;
}
.listobj_desc, .listobj_seller, .listobj_status{
    color:#767676;
}
.listobj_place{
    float:right;
    width:50px;
    color:#D9D9D9;
    text-align: center;
}

/* 동문 브랜드 객체 관련 */
.brand__obj{
    position:relative;
    width: 300px;
    height: 300px;
    color:white;
    float:left;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
}
.brandobj_title{
    font-size: larger;
    position:absolute;
    bottom: 40px;
}
.brandobj_event{
    font-size: large;
    position: absolute;
    bottom: 15px;
}

/* 페이지네이션 관련 */
.pagenation{
    width: fit-content;
    height:50px;
    margin:50px auto;
}
.page_btn, .prev_btn, .next_btn{
    float:left;
    display: block;
    padding: 10px;
    margin:10px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 10%;
    border-width: 0px;
}
.pagenation a:hover{
    background-color: #D9D9D9;
}
