<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butteo:Gonggu</title>
    <link rel="stylesheet" href="../../static/styles/itemList.css">
</head>

{%extends "index.html"%}
{%block section%}
<div class="content__header">
    {% if session['id'] %}
    <a class="register__btn" href="/reg_group_purchase">공구 등록하기</a>
    <h1>공동구매</h1>
    {% else %}
    <a class="register__btn" onclick="alert('로그인 후 이용해주세요.');">공구 등록하기</a>
    <h1>공동구매</h1>
    {% endif %}
    
</div>
<div class="filter__area" style="margin-bottom:20px;">
    <ul>
        <li>총 <span id="number_itms">00</span> 개 상품
        <li>필터 <span id="filter_str"> > 필터이름</span>
            <!---필터 드롭다운 메뉴 추가--->
            <script src="scriptname.js"></script>
    </ul>
</div>
<div id="calendarArea" style="width:100%;height:500px;background-color: aliceblue; margin:50px 0px;">
    Calendar Area
</div>
<div class="item__list">
    <script>
        var k = 20;
        for (var i = 0; i < k; i++) {
            document.write(`
            <div class=\"list__obj\">
                <a href="/group_purchase">
                <img src="/static/image/item_img.png" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
                </a>
                <div class="listobj_textarea">
                    <div class="listobj_title">상품제목</div>
                    <div class="listobj_price">가격</div>
                    <div class="listobj_seller">판매자:sellerID</div>
                    <div class="listobj_status">상태:공구진행상태</div>
                </div>
            </div>
            `);
        }
    </script>
</div>
<div class="pagenation">
    <script>
        var curr_page = 1;
        document.write("<span class=\"prev_btn\" id=\"prev_btn\">\<</span>");
        for (var j = 1; j <= 5; j++) {
            document.write("<span class=\"page_btn\" id=\"page" + j + "\">" + j + "</span>");
        }
        document.write("<span class=\"next_btn\" id=\"next_btn\">\></span>");
    </script>
</div>
{% endblock section %}