<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butteo:Graduates</title>
    <link rel="stylesheet" href="../../static/styles/itemList.css">
</head>

{%extends "index.html"%}
{%block section%}
<div class="content__header">
    {% if session['id'] %}
    <a class="register__btn" href="/reg_brand">브랜드 등록하기</a>
    <h1>동문 브랜드</h1>
    {% else %}
    <a class="register__btn" onclick="alert('로그인 후 이용해주세요.');">브랜드 등록하기</a>
    <h1>동문 브랜드</h1>
    {% endif %}
</div>
{% if total > 0 %}
<div class="item__list">
    {% for row in rows %}
    {% for key,value in row %}
    <a href="/info_brand/{{key}}/">
        <div class="brand__obj" id="{{key}}" 
        style="background-image: 
        linear-gradient(to top, #107413e6 10%,#00000000 33%),
        url(../../{{value.img_path[0]}});"
        onmouseenter="mouseEnter('{{key}}','{{value.img_path[0]}}')"
        onmouseleave="mouseLeave('{{key}}','{{value.img_path[0]}}')">
            <div class="listobj_textarea">
                <div class="brandobj_title">{{key}}</div>
                <div class="brandobj_event">{{value.benefits}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
    <div style="display: block;"></div>
    {% endfor %}
    <script>
        function mouseEnter(key,url){
            var elem = document.getElementById(key);
            elem.setAttribute('style',`background-image:linear-gradient(to top, #004702,#00000000 80%),url(../../${url})`);
        }
        function mouseLeave(key,url){
            var elem = document.getElementById(key);
            elem.setAttribute('style',`background-image:linear-gradient(to top, #107413e6 10%,#00000000 33%),url(../../${url})`);
        }
    </script>
</div>
<div class="pagenation">
    <ul style="list-style: none;">
        <li>
            {% for i in range(page_count) %}
            <a id="page{{i}}"class="page_btn" href="{{url_for('view_fleamarket',page=i)}}" color="black">{{i+1}}</a>
            {% endfor %}
        </li>
    </ul>
</div>
{% else %}
<p>
    등록된 상품이 없습니다. 
</p>
{% endif %}
{% endblock section %}
