<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butteo:Season</title>
    <link rel="stylesheet" href="../../static/styles/itemList.css">
</head>

{% extends "index.html" %}
{% block section %}

<div class="content__header">
    <a class="register__btn" href="/reg_season">부스 등록하기</a>
    <h1>시즌/대동제</h1>
</div>
<img src="/static/image/banner_img.png" width="100%;" style="display:block; margin:30px auto">
{% if total > 0 %}
<div class="filter__area" style="margin-bottom:20px;">
    <ul>
        <li>총 <span id="number_itms">{{total}}</span> 개 상품
        <li>필터 <span id="filter_str"> > 필터이름</span>
            <!---필터 드롭다운 메뉴 추가--->
            <script src="scriptname.js"></script>
    </ul>
</div>
<div class="item__list">
    {% for key,value in row1 %}
    <div class="list__obj">
        <a href="/info_item/{{key}}/">
        <img src="/static/DBimage/{{value.img_path}}" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
        </a>
        <div class="listobj_textarea">
            <div class="listobj_place">{{value.tradeRegions}}</div>
            <div class="listobj_title">{{key}}</div>
            <div class="listobj_desc">{{value.price}} 원</div>
        </div>
    </div>
    {% endfor %}
    <div style="display: block;"></div>
    {% for key,value in row2 %}
    <div class="list__obj">
        <a href="/info_item/{{key}}/">
        <img src="/static/DBimage/{{value.img_path}}" alt="상품 이미지" width="210" height="210" style="padding: 10px;">
        </a>
        <div class="listobj_textarea">
            <div class="listobj_place">{{value.tradeRegions}}</div>
            <div class="listobj_title">{{key}}</div>
            <div class="listobj_desc">{{value.price}} 원</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="page-wrap">
    <div class="pagenation">
        <ul style="list-style: none;">
            <li>
                {% for i in range(page_count) %}
                <a id="page{{i}}"class="page_btn" href="{{url_for('view_list',page=i)}}" color="black">{{i+1}}</a>
                {% endfor %}
            </li>
        </ul>
        <script>
            var curr_page = window.location.search.split('=')[1];
            if(curr_page==null){
                curr_page = 0;
            }
            var btn = document.getElementById("page"+curr_page);
            btn.setAttribute("style","color:green; text-decoration-line: underline; text-decoration-thickness: 1px; text-underline-offset: 2px;");
        </script>
        <!-- <script>
            var curr_page = 1;
            document.write("<span class=\"prev_btn\" id=\"prev_btn\">\<</span>");
            for (var j = 1; j <= 5; j++) {
                document.write("<span class=\"page_btn\" id=\"page" + j + "\">" + j + "</span>");
            }
            document.write("<span class=\"next_btn\" id=\"next_btn\">\></span>");
        </script> -->
    </div>
</div>
{% else %}
<p>
    등록된 상품이 없습니다. 
</p>
{% endif %}
{% endblock section %}