<!DOCTYPE html>
<html lang="ko">
    {% extends "index.html" %}
    {% block section %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../../static/styles/writerReview.css">
        <script src="../static/scripts/writerReview.js"></script>
        <title>유저가 작성한 리뷰 전체조회</title>
    </head>
    <body>
        <!--페이지 상단 중앙 제목-->
        <p class="title">리뷰</p>
        <button class="back" onclick="window.location.href='/review'">> 뒤로 가기</button>
        <div class="imgContainer">
            <img src="..\static\image\brand_img.png" id="userImg">
        </div>
        <div class="userInfo">
            <p class="userID">이화연</p>
            <p class="number">총 nn개 리뷰</p>
        </div>
        <!--리뷰 섹션-->
        <div class="container">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </body>
    {% endblock section %}
</html>